{{define "yield"}}
<h1>F.A.Q.</h1>
<p>You'll find here some answers which could be helpful for you.</p>
<p>
  <ol>
    <li>Foobar</li>
    <li>XPTO</li>
    <li>Foo</li>
    <li>Bar</li>
  </ol>
</p>
{{end}}
